<ul class=entries>
<% IF entry.size %>
    <% FOREACH id IN entry.keys %>
        <li><h2><% entry.$id.title %></a></h2><% entry.$id.text %></li>
        <% IF session.logged_in %>
            <a href="<% delete_url %><% entry.$id.id %>">Delete Entry</a>
        <% END %>
    <% END %>
<% ELSE %>
  <li><em>Entry Not Found</em></li>
  <li>Return <a href="<% home_url %>">Home</a></li>
<% END %>
</ul>
